* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 72px;
    margin-top: 4rem;
    margin-bottom: 0px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 1rem;
}

img {
    height: 200px;
    width: 200px;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    gap: 100px;
}

button {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background-color: white;
    border: none;
}

button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.outcome {
    text-align: center;
    font-size: 24px;
}

.done {
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
}

.scores {
    font-size: 18px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 4em;
}

footer {
    display: flex;
    margin-top: auto;
    font-size: 24px;
    background: gray;
    align-items: center;
    justify-content: center;
    padding: 24px
}